<header class="header">
    <div class="header-welcome">
        <button class="header-side-menu" mat-icon-button (click)="toggleNav()"><mat-icon>menu</mat-icon></button>
        <h3>Buenos días, Miguel</h3>
    </div>
    <div class="header-menu">
        <div class="menu-content">
            Perfil
            <mat-icon>person</mat-icon>
        </div>
        <div class="menu-content">
            Alertas
            <mat-icon>notification_important</mat-icon>
        </div>
        <div class="menu-content">
            Salida Segura
            <mat-icon>exit_to_app</mat-icon>
        </div>
    </div>
</header>