.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.container-main {
    padding: 0 3em;
}

.logo-container {
    padding: 1em;
    img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
}
