<mat-sidenav-container class="container" *ngIf="true">
    <mat-sidenav mode="side" opened>
        <div class="logo-container">
            <img src="assets/images/default.png" alt="Imagen/logo">
        </div>
        <app-side-nav></app-side-nav>

    </mat-sidenav>
    <mat-sidenav-content>

        <div class="container-main">

            <app-header></app-header>

            <div>
                <div>
                    <mat-slide-toggle [checked]="toggle" (toggleChange)="toogleBanks()" [labelPosition]="'before'">
                        Mostrar otros productos
                    </mat-slide-toggle>
                </div>
                <app-resume></app-resume>
            </div>

            <router-outlet></router-outlet>


        </div>

    </mat-sidenav-content>
</mat-sidenav-container>