<div class="card">
    <h4 *ngIf="index === 0">
        {{_mapTextService.getValue(productType)}}
        ({{totalProduct}})
    </h4>
    <h4 *ngIf="index > 0">&nbsp;</h4>
    <mat-card class="card-container">

        <mat-card-header class="card-container-header">

            <div class="card-container-header-image">
                <img mat-card-avatar [src]="image" [alt]="productType">
            </div>

            <div class="card-container-header-detail">
                <a routerLink="" (click)="openDialog(product)"> <small>Ver detalle ></small></a>
            </div>

        </mat-card-header>


        <mat-card-content>
            <div class="card-content">
                <h2>{{ _mapTextService.getValue(product.typeAccount)}}
                </h2>
                <small>Nro.
                    {{product.id | formatProductNumber:product.typeAccount}}</small>
            </div>
            <div class="card-content">
                <small>{{ _mapTextService.getLabelAmount(product)['label']}}</small>
                <h3>${{ _mapTextService.getLabelAmount(product)['amount'] | number:'1.2':'co'}}
                </h3>
            </div>

            <app-footer [product]="product"></app-footer>

        </mat-card-content>

    </mat-card>
</div>