<mat-sidenav-container class="container" *ngIf="true">
  <mat-sidenav mode="side" opened>
    <img src="/" alt="Imagen/logo">
    <app-side-nav></app-side-nav>

  </mat-sidenav>
  <mat-sidenav-content>

    <div class="container-main">
      <header>
        <div>
          Buenos días, Miguel
        </div>
        <div>
          <div>Perfil</div>
          <div>Alertas</div>
          <div>Salida Segura</div>
        </div>
      </header>

      <div>
        <div>Mostrar otros productos</div>
        <div>
          <div>Como se ven tus finanzas</div>
          <div>En productos de ahorro tienes</div>
        </div>
      </div>

      <div class="card-main">

        <app-card *ngFor="let product of products" [product]="product"></app-card>

      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>